@import "tailwindcss";

:root {
    --background: #fafafa;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montserrat);
}

@variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}


body {
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s; /* Додаємо плавний перехід */
}
