@import "tailwindcss";

:root {
    --background: #fafafa;
    --foreground: #171717;
    scrollbar-gutter: stable;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montserrat);
}

@variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@layer components {
    .btn-primary {
        @apply flex justify-center-safe items-center-safe h-10 px-5 rounded-xl dark:bg-zinc-200 dark:text-black bg-gray-800 text-white hover:brightness-75
    }
}

body {
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    /* Додаємо плавний перехід */
}
